In [50]:
import numpy as np
import pandas as pd

## Python stuff

### Lists

In [51]:
some_list = [4,3,7,2,5,3,7,5,4,1,9]

In [52]:
other_list = []

for x in some_list:
    other_list.append(x+5)

other_list

[9, 8, 12, 7, 10, 8, 12, 10, 9, 6, 14]

In [53]:
[x+5 for x in some_list]

[9, 8, 12, 7, 10, 8, 12, 10, 9, 6, 14]

### Pandas

In [54]:
data = [[3,2,5],[4,6,7],[6,5,3],[6,7,4],[3,3,4]]

df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

   A  B  C
0  3  2  5
1  4  6  7
2  6  5  3
3  6  7  4
4  3  3  4

In [55]:
df.loc[2:3, 'B':'C']

   B  C
2  5  3
3  7  4

In [56]:
df.loc[df['A'] < 5]

   A  B  C
0  3  2  5
1  4  6  7
4  3  3  4

In [57]:
df.loc[df['A'] < 5, 'B':'C']

   B  C
0  2  5
1  6  7
4  3  4

In [61]:
df.loc[(df['A'] < 5) & (df['B'] > 5), 'A':'B']   # Since we're grabbing just one column, it's just a series

   A  B
1  4  6

In [59]:
df['size'] = np.where(df['A'] + df['B'] < 10, 'small', 'big')
df

   A  B  C   size
0  3  2  5  small
1  4  6  7    big
2  6  5  3    big
3  6  7  4    big
4  3  3  4  small