In [8]:
import numpy as np
import pandas as pd

## Python stuff

### Lists

In [3]:
some_list = [4,3,7,2,5,3,7,5,4,1,9]

In [4]:
[x+5 for x in some_list]

[9, 8, 12, 7, 10, 8, 12, 10, 9, 6, 14]

In [5]:
other_list = []

for x in some_list:
    other_list.append(x+5)

other_list

[9, 8, 12, 7, 10, 8, 12, 10, 9, 6, 14]

### Pandas

In [12]:
data = [[3,2,5],[4,6,7],[6,5,3],[6,7,4],[3,3,4]]

df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

   A  B  C
0  3  2  5
1  4  6  7
2  6  5  3
3  6  7  4
4  3  3  4

In [16]:
df.loc[2:3, 'B':'C']

   B  C
2  5  3
3  7  4

In [18]:
df.loc[df['A']<5]

   A  B  C
0  3  2  5
1  4  6  7
4  3  3  4

In [19]:
df.loc[df['A']<5, 'A']   # Since we're grabbing just one column, it's just a series

0    3
1    4
4    3
Name: A, dtype: int64